//Colors
$dark-gray: rgb(169, 169, 169);
$darker-gray: rgb(100, 100, 100);
$black: rgb(0, 0, 0);
$red: rgb(255, 0, 0);
$light-gray: rgb(211, 211, 211);
$light-blue: rgb(160, 180, 255);
$blue: rgb(50, 63, 255);
$white: rgb(255, 255, 255);

//Variables

//App colors
$background-col: $light-blue;
$drawer-bg: $blue;
$drawer-btn-bg: $white;
$drawer-btn-txt: $black;

//game colors
$g-btn-col: $blue;
$g-btn-hover: $light-gray;
$g-btn-att-ship: $red;
$g-btn-att-no-ship: $dark-gray;
