//Colors
$dark-gray: rgb(169, 169, 169);
$red: rgb(255, 0, 0);
$light-gray: rgb(211, 211, 211);
$light-blue: rgb(160, 180, 255);
$blue: rgb(50, 63, 255);

//Variables
$background-col: $light-blue;
$g-btn-col: $blue;
$g-btn-hover: $light-gray;
$g-btn-att-ship: $red;
$g-btn-att-no-ship: $dark-gray;
