@import 'vars';

.App {
  text-align: center;
  background-color: $background-col;
  min-height: 100vh;
  min-width: 100vw;
}

#boards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1vh 0;
}