.board {
  display: block;
  height: clamp(40%, 45%, 50%);
}

.board-h {
  font: normal small-caps 700 2.5em sans-serif;
  padding-bottom: 1vh;
}

.g-header {
  font: normal small-caps 600 1.4em sans-serif;
}