@import 'vars';

.g-btn {
  width: 5vmin;
  height: 5vmin;
}

.att-ship {
  background-color: $g-btn-att-ship;
}

.att-no-ship {
  background-color: $g-btn-att-no-ship;
}

.no-att {
  background-color: $g-btn-col;
  
  &.c:hover {
    background-color: $g-btn-hover;
  }
}